<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{uid}} - {{token_uid}}

<form action="login_user" method="post" class="form-horizontal">
    {% csrf_token%}
    <div class="form-group">
        <label>Ведите новый пароль</label>
        <input type="text" class="form-control" name="new_pass" id="new_pass" placeholder="Enter Password">
        <input type="text" class="form-control" name="uid_data" placeholder="UID" value="{{uid}}">
        <input type="text" class="form-control" name="token_data"  placeholder="Token" value="{{token_uid}}">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Отправить</button>

</form>


</body>
</html>